.dropdown__menu__box {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* .dropdown__menu__button {
    display: flex;
} */
