.reviews__list__container {
   margin-top:20px;
   padding-bottom: 50px;
}

.reviews__list__box {
    /* background-color: white; */
    width : 800px;
    height : auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
    border-radius: 20px;
}

.review__full__message {
    border: 1px rgb(255, 255, 255, 0.5) solid;
    border-radius: 10px;
    padding: 5px 0;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width : 760px;
    color: white;
}

.individual__review__message {
    width : 520px;
    font-size: 12px;
}

.review__tittle__message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
    padding: 20px
}

.individual__review__title {
    font-weight: bolder;
}

.score__buttons {
    display: flex;
}

.individual__review__score {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 18px;
    font-size: 20px;
    font-weight: bolder;
    padding-right: 20px;
}

.reviews__button__edit {

    background : linear-gradient(180deg, rgba(194, 68, 84, 1) 0%, rgba(128, 42, 71, 1) 100%);
    width : 60px;
    height : 25px;
    border-radius : 8px;
    border: 2px;
    border-color: black;
    font-size: 10px;
    color: white;
}

.reviews__button__edit:hover {
    background : linear-gradient(0deg, rgba(194, 68, 84, 1) 0%, rgba(128, 42, 71, 1) 100%);
}

.reviews__button__delete {
    margin-top: 20px;
    background: linear-gradient(180deg, rgb(220, 220, 220) 0%, rgb(180, 180, 180) 100%);
    width : 60px;
    height : 25px;
    border-radius : 8px;
    border: 2px;
    border-color: black;
    font-size: 10px;
    color: rgb(0, 0, 0);
}

.reviews__button__delete:hover {
    background: linear-gradient(0deg, rgb(220, 220, 220) 0%, rgb(180, 180, 180) 100%);
}

.logged__reviews__button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 6px;
    margin-top: 12px;
    margin-right: 12px;
}
