.navigation__bar {
    /* top: 0; */
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color:  rgba(5, 10, 15, 1);
}

.navigation__bar > li {
    list-style-type: none;
}

.temp__solution {
    padding: 0 50px;
    color: white;
    text-decoration: none;
}

.temp__solution:hover {
    color: rgb(176, 34, 34, 1);
}

.scareBnB__Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: auto;
}
