.navigation__bar {
    /* top: 0; */
    height: 50px;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.navigation__bar > li {
    list-style-type: none;
}

.temp__solution {
    padding: 0 50px;
    color: white;
    text-decoration: none;
}

.temp__solution:hover {
    color: rgb(176, 34, 34, 1);
}

.scareBnB__Logo {
    background-image: url('../../images/LOGO.svg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: auto;
    border-radius: 20px;
}
