.login__form__container {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__box {
    background-color: white;
    width : 646px;
    height : auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.login__button {
    margin-top: 20px;
    background : linear-gradient(180deg, rgba(194, 68, 84, 1) 0%, rgba(128, 42, 71, 1) 100%);
    width : 586px;
    height : 50px;
    border-radius : 8px;
    border: 2px;
    border-color: black;
    color: white;
}

.login__button__disabled {
    margin-top: 20px;
    cursor: not-allowed;
    background : linear-gradient(180deg, rgba(194, 68, 84, 0.25) 0%, rgba(128, 42, 71, 0.25) 100%);
    width : 586px;
    height : 50px;
    border-radius : 8px;
    border: 2px;
    border-color: black;
    color: white;
}

.login__button:hover {
    background : linear-gradient(0deg, rgba(194, 68, 84, 1) 0%, rgba(128, 42, 71, 1) 100%);
}

.login__label {
    font-size: 12px;
    color : rgb(21, 39, 62, 0.5);
    padding: 3px;
    margin: 0 20px;
}

.user__pass__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px #15273E solid;
    border-radius: 16px;
    width: 586px;
    padding: 10px 0;
}

.input__login__box {
    width : 550px;
    height : 30px;
    border: 0;
    border-bottom : 1px #15273E solid;
}

.login__title {
    font-weight : bold;
    font-size : 40px;
    color : rgb(21, 39, 62, 0.3);
    margin-bottom: 30px;
}

.login__welcome {
    font-size: 24px;
    color: #15273E;
    width : 586px;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}


.errors__style  {
    font-size: 9px;
    color: red
}
